<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styleOne.css') }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin Login</title>
	<link rel="stylesheet" href="styleOne.css">
</head>
<body>
<div class="main">
	<h1>ADMIN LOGIN</h1>
	<form action="/login" method="POST" class="login">
		<input type ="text" name="username" class="username" placeholder="USERNAME" required>
		<inpUt type="password" name="password" class="password" placeholder="PASSWORD" required>
		<input type="submit" class="submit" value="Login">
</div>
</body>
</html>